<!DOCTYPE html>
<html>

<head>
    <title>User Details</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 20px;
            min-height: 100vh;
            list-style-type: none;

        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
            padding: 20px;
            width: 85%;
            max-width: 85%;
            max-height: 85%;
            z-index: 9999;
            overflow-y: scroll;
            border-radius: 15px;
        }


        .card {
            background-color: #fff;
            border-radius: 10px;
            border-color: #444444;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 90%;
            max-height: 90%;
            text-align: left;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            margin: 8px 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }

        button {
            background-color: #072AC8;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background-color: #001c94;
        }

        
    </style>
</head>

<body>
    <div class="card">
        <h1>All Patients</h1>
        <% for (let i=0; i < allPatientDataToBeRendered.length; i++) { %>
            <li onclick="showPopup('<%= allPatientDataToBeRendered[i].firstName %> <%= allPatientDataToBeRendered[i].lastName %>' ,
            '<%= allPatientDataToBeRendered[i].sex %>' ,
            '<%= allPatientDataToBeRendered[i].age %>' ,
            '<%= allPatientDataToBeRendered[i].phone %>' , 
            '<%= allPatientDataToBeRendered[i].email %>' , 
            '<%= allPatientDataToBeRendered[i].height %>' , 
            '<%= allPatientDataToBeRendered[i].weight %>' , 
            '<%= allPatientDataToBeRendered[i].firstData %>' , 
            '<%= allPatientDataToBeRendered[i].patientBasicData %>',
            '<%= allPatientDataToBeRendered[i].underdiagnosis %>',
            '<h2>Total Cases:</h2><ul><% for (let j = 0; j < allPatientDataToBeRendered[i].cases.length; j++) { %><li><h3>Case <%= j + 1 %>:</h3><p>Time: <%= allPatientDataToBeRendered[i].cases[j].time %></p><p>Case Title: <%= allPatientDataToBeRendered[i].cases[j].caseTitle %></p><p>Description: <%= allPatientDataToBeRendered[i].cases[j].description %></p></li><% } %></ul>',
            '<h2>Key Points:</h2><% for (let j = 0; j < allPatientDataToBeRendered[i].keynotes.length; j++) { %><p><%= allPatientDataToBeRendered[i].keynotes[j] %><% } %></p>'
            )">

                <h3>
                    <%= allPatientDataToBeRendered[i].firstName %>
                        <%= allPatientDataToBeRendered[i].lastName %>
                </h3>
                <span><b>Sex:</b>
                    <%= allPatientDataToBeRendered[i].sex %>
                </span>
                <span><b>Age:</b>
                    <%= allPatientDataToBeRendered[i].age %>
                </span>
                <span><b>Phone Number:</b>
                    <%= allPatientDataToBeRendered[i].phone %>
                </span>
                <span><b>Email:</b>
                    <%= allPatientDataToBeRendered[i].email %>
                </span>

                <p><b>Summary:</b>
                    <%= allPatientDataToBeRendered[i].patientBasicData %>
                </p>
            </li>
            <% } %>

                <button onclick="goBack()">Back</button>
    </div>
    <!-- Hidden popup and overlay -->
    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
        <h2>Patient Details</h2>
        <p id="patientDetails"></p>
        <button onclick="closePopup()">Close</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }


        function showPopup(patientName, sex, age, number, email, height, weight, basic, summary, underdiagnosis, cases, keynotes) {
            const popup = document.getElementById("popup");
            const overlay = document.getElementById("overlay");
            const patientDetails = document.getElementById("patientDetails");

            patientDetails.innerHTML = "Name: " + patientName + "<br>" +
                "Sex: " + sex + "<br>" +
                "Age: " + age + "<br>" +
                "Phone Number: " + number + "<br>" +
                "Email: " + email + "<br>" +
                "Height: " + height + "<br>" +
                "Weight: " + weight + "<br>" +
                "Basic Data Given: " + basic + "<br>" +
                "Summary: " + summary + "<br>" +
                "Under Diagnosis: " + underdiagnosis + "<br>" +
                '<div>' + keynotes + '</div>' +
                '<div>' + cases + '</div>'

            
            popup.style.display = "block";
            overlay.style.display = "block";
        }

        function closePopup() {
            const popup = document.getElementById("popup");
            const overlay = document.getElementById("overlay");

            // Hide the popup and overlay
            popup.style.display = "none";
            overlay.style.display = "none";
        }
    </script>
</body>

</html>